header {
  background-color: $section-bg-color;
  padding: 40px 0;
  
  @include mb{
    height: 100%;
    .row{
      flex: 1 1 0;
      flex-wrap: wrap;
    }
  }
  .brand-logo {
    font-size: 1.1rem;
    color: $primary-color;
    text-decoration: none;
    font-weight: 700;
  }

  nav {
    display: flex;
    align-items: center;
    flex: 1 1 0;
    flex-wrap: nowrap;

    @include mb {
      position: fixed;
      top: 0;
      left: 0;
      width: 75%;
      height: 100%;
      display: none;
      flex-direction: column;
      background-color: white;
      order: 3;
      height: 100%;
      padding: 50px 0 20px;
      transition: all .7s ease;

      &.show{
        display: flex;
        animation: slidein .8s ease;
        transition: all .7s ease;
      }
    }

    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      margin: 0 auto;

      @include mb{
        flex-direction: column;
      }

      li {
        margin: 0 15px 0;

        @include mb{
        margin: 15px 0;
      }

        a {
          text-decoration: none;
          font-weight: 500;
          font-size: 0.9rem;
          color: $primary-color;

          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    .btn {

      @include mb{
        display: block;
        margin-top: 30px;
      }
      .login-btn {
        // border: 1px solid red;
        padding: 10px 15px;
        color: $primary-color;
        font-weight: 500;

        
      }
      .get-btn {
        // border: 1px solid red;
        padding: 15px 20px;
        font-weight: 500;
        font-size: 0.88rem;
        background-color: $primary-color;
        color: $text-color-white;
        border-radius: 5px;
        outline: 1px solid $primary-color;

        @include mb{
        padding: 10px 15px;
      }

        &:hover{
          outline: 1px solid $primary-color;
          outline-offset: 2px;
        }
      }
    }
  }

  .nav-toggle {
    display: none;
    // padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    @include mb {
      display: block;
    }
    @include tb {
      display: none;
    }
  }
}



@keyframes slidein {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}